## Tuplas

In [1]:
# Criando uma tupla ( as tuplas são imutaveis)
tupla1 = ("Geografia", 23, "Elefantes")

In [2]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [3]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Tuplas não suportam delete de um item específico
del tupla1["Gatos"]

TypeError: 'tuple' object does not support item deletion

In [5]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [6]:
tupla1

'Chocolate'

In [7]:
tupla1 = ("Geografia", 23, "Elefantes")

In [8]:
tupla1[0]

'Geografia'

In [9]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [10]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes')

In [11]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [12]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [13]:
t2

('A', 'B', 'C')

In [14]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [15]:
lista_t2

['A', 'B', 'C']

In [16]:
lista_t2.append('D')

In [17]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [18]:
t2

('A', 'B', 'C', 'D')